$iPhone-5: 320px;
$iPhone-6_7_8: 414px;
$iPad: 768px;
$iPad-Pro: 1024px;


$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1024px;


@mixin mobile {
  @media (min-width: 0) and (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}