@import "colors/index";


@mixin shadow {
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.1), 0 10px 30px 0 rgba(0,0,0,0.2);
  // box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}
@mixin shadow-left {
  box-shadow: 0 12px 0 rgba(0, 0, 0, 0.1), -10px 0px 30px 0 rgba(0, 0, 0, 0.2);
}
@mixin shadow-on-hover {
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.20);
}

$text-color: #2d2d2d;
$text-color-second: #373737;

.with-shadow{
  @include shadow();
  &:hover{
    @include shadow-on-hover();
  }
}

@mixin with-shadow() {
  &.withShadow{
    @include shadow();
    &:hover{
      @include shadow-on-hover();
    }
  }
}


$header-height: 50px;
$border-color: #f3f3f3;
$border-color-second: #dfdfdf;


$background-color: white;
$background-color-second: #f7f7f7;
$background-color-third: #ececec;
$border-radius: 10px;
