@import "../../../styles/utils/vars";


.icon-button{
  display: flex;
  padding: 0;
  cursor: pointer;
  outline: none;

  border: none;
  background-color: transparent;
  color: $gray-600;
  overflow: hidden;

  &:hover{
    color: $gray-900;
  }

  &.small{
    button{
      i{
        font-size: .8rem;
      }
    }
  }
}