.appear-bottom-component{

  opacity: 0;
  transform: translate(0, 40%);
  transition: transform 1000ms, opacity 900ms;
  will-change: transform;
  &.appear-bottom-component-animation{
    &-enter{
      &-active{
        opacity: 1;
        transform: translate(0%);
      }
      &-done{
        opacity: 1;
        transform: translate(0%);
      }
    }
    &-exit{
      &-active{

      }
      &-done{

      }
    }
  }
}




