
.fade-in-animation {
  // black background
  $animation-time: 700ms;
  &-enter {
    opacity: 0;
    transition: opacity $animation-time;
    &-active {
      opacity: 1;
    }
    &-done {
      opacity: 1;
    }
  }
  &-exit {
    opacity: 1;
    transition: opacity $animation-time;
    &-active {
      opacity: 0;
    }
    &-done {
      opacity: 0;
    }
  }
}


.alert-section-animation{
  // window
  $animation-time: 500ms;
  &-enter {
    transform: translate(-50%, 50%) scale(.2);
    transition:
            transform $animation-time cubic-bezier(0.19, 1, 0.22, 1),
            opacity $animation-time linear;
    will-change: transform;
    &-active {
      transform: translate(-50%, -50%) scale(1);
    }
    &-done {
      transform: translate(-50%, -50%) scale(1);
    }
  }

  &-exit {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition:
            opacity $animation-time;
    will-change: transform, opacity;
    &-active {
      opacity: 0;
    }
    &-done {
      opacity: 0;
    }
  }

}