.background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.41);
}

.fade-enter{
  transition: opacity .2s;
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
}
.fade-enter-done{
  opacity: 1;
}


.fade-exit{
  transition: opacity .2s;
  opacity: 1;
}
.fade-exit-active{

}
.fade-exit-done{
  opacity: 0;
}