.sidebar-component-header{
  height: 55px;
  position: absolute;
  border-bottom: 1px solid #d6d6d6;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
  display: flex;
  padding: {
    left: 1.3vw;
  };
}