@import "../../styles/utils/vars";
@import "../../styles/utils/media-queries";

.sidebar-component {

  transform: translate(100%, 0);
  will-change: transform;

  &.sidebar-component-animation {

    &-appear{
      transition: transform 1400ms cubic-bezier(.53, .09, 0, 1);
      &-enter{
        transform: translate(100%, 0%);
      }
      &-active{
        transform: translate(0%, 0%);
      }
    }

    &-enter {
      transition: transform 1400ms cubic-bezier(.53, .09, 0, 1);
      &-active {
        transform: translate(0, 0%);
      }

      &-done {
        transform: translate(0, 0%);
      }
    }

    &-exit {
      transition: transform 400ms cubic-bezier(.53, .09, 0, 1);
      transform: translate(0, 0%);
      &-active {
        transform: translate(100%, 0);
      }

      &-done {
        transform: translate(100%, 0);
      }
    }
  }

  @include mobile {
    width: 100vw;
  }
  @include tablet {
    width: 90vw;
  }
  @include desktop {
    width: 80vw;
  }

}