.fadein {
  &-appear {
    // init style
    opacity: 0;
    transition: opacity 1400ms cubic-bezier(0.72, 0.03, 0.38, 0.99);
    &-active {
      opacity: 1;
    }
    &-done {
      opacity: 1;
    }
  }

  &-enter {
    // init style
    opacity: 0;
    transition: opacity 1400ms cubic-bezier(0.72, 0.03, 0.38, 0.99);
    &-active {
      opacity: 1;
    }
    &-done {
      opacity: 1;
    }
  }

  &-exit {
    // init style
    &-active {
    }
    &-done {
    }
  }
}
