@import "../utils/vars";

body{
  font-family: "Helvetica Neue";
  color: #0e2130;
}
a{
  text-decoration: none;
  font-size: 1.1rem;
  color: #0070c9;
  line-height: 1.19048;
  &:hover{
    color: #6300c9;
  }
}
