@import "../utils/colors/index";

.typography{
   &-overview-intro{
     font-size: 1.9rem;
     line-height: 1.125;
     font-weight: 600;
     letter-spacing: .004em;
     margin-top: 70px;
   }
}

.center{
  text-align: center;
}

.text{
  &-normal{
    font-size: 21px;
    line-height: 1.4;
    color: $gray-900;
  }
  &-600{
    font-weight: 600;
  }
}
.title{
  &-500{
    font-size: 48px;
    font-weight: bold;
    line-height: .95;
    margin-bottom: 45px;
  }
}
.link{
  &-normal{
    font-size: 21px;
    color: $accent-color;
  }
  &-row{
    display: block;
  }
}

.large{
  &-12 {
    width: calc( 100%);
  }
  &-11 {
    width: calc( 100% / 12 * 11);
  }
  &-10 {
    width: calc( 100% / 12 * 10);
  }
  &-9 {
    width: calc( 100% / 12 * 9);
  }
  &-8 {
    width: calc( 100% / 12 * 8);
  }
  &-7 {
    width: calc( 100% / 12 * 7);
  }

  &-centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
