

.input-counter-component{
  background-color: hsla(0, 0%, 96%, 1);
  border-radius: 5px;
  border: 1px solid hsla(0, 0%, 80%, 1);
  display: inline-block;

  padding: {
    left: 10px;
    right: 10px;
  };

  .input-counter-component__content-wrapper{
    display: flex;
    align-items: center;
    height: 35px;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }


    input{
      font-size: 1rem;
      outline: none;
      border: none;
      background-color: transparent;
    }
  }

}

