@import "../../styles/utils/vars";

button{
  cursor: pointer;
}
.button-group {
  transition: box-shadow .2s;

  @include with-shadow(); // handles mouse over

  &--transparent{
    background-color: transparent;
    border: none;
    &.withShadow{
      box-shadow: none;
      border: none;
    }
  }
}

button.button{
  cursor: pointer;
  background-color: white;
  border: 1px solid $border-color-second;
  padding: {
    top: 5px;
    bottom: 5px;
    left: 15px;
    right: 15px;
  };
  position: relative;
  border-radius: 20px;
  outline: none;
  font-size: .8rem;
  font-weight: 500;
  text-align: center;
  margin: 5px;
  @include with-shadow();

  &--green{
    background-color: $color-green;
    color: white;
    border: none;
  }

  &--red{
    background-color: $color-red;
    color: white;
    border: none;
  }

  &--transparent{
    border: none;
  }

  i{
    &:hover{
      // color: blue;
    }
  }

  &--small{
    padding: 5px;
    width: 25px;
    height: 25px;
  }


  &--round{
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    height: 30px;
    width: 30px;
    i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }

  &--flat{
    background-color: transparent;
    border: none;
    font-weight: 400;

    &--red{
      background-color: red;
      color: white;
    }
  }

  //&.tetriary{
  //  background: transparent;
  //  border: none;
  //  font-size: .8rem;
  //  font-weight: 600;
  //  margin: .2rem;
  //  color: grey;
  //  &.accent{
  //    color: #004afe;
  //  }
  //}
}


.material-icons {
  &.asButton{
    user-select: none;
    cursor: pointer;
  }
}