input[type="text"],input[type="number"]{
  //-webkit-appearance: none;
  //-moz-appearance: none;
  //padding-top: 12px;
  //padding-bottom: 12px;
  //padding-left: 15px;
  //font-size: .9rem;
  //font-weight: 300;
  //border-radius: 6px;
  //border: 1px solid #dadada;
  //margin: 5px;
  //background-color: white;
}