@import '../utils/vars';

ul {
  overflow: auto;

  margin: {
    left: 5px;
    right: 5px;
  }
  li {
    .list-item {
      &__title {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 15px;
      }
    }
    // border-bottom: 1px solid $border-color;
    padding: {
      left: 15px;
      right: 15px;
      top: 10px;
      bottom: 10px;
    }
  }
}
