.minify-animation-component {

  transform: scale(1);
  opacity: 1;
  transition: transform 400ms, opacity 400ms;
  will-change: transform, opacity;
  &.minify-animation-component-animation {
    &-enter {
      &-active {
      }
      &-done {
      }
    }
    &-exit {
      &-active {
        transform: scale(.4);
        opacity: 0;
      }
      &-done {
        transform: scale(.4);
        opacity: 0;
      }
    }
  }
}