.fadeout{

  opacity: 1;
  transition: opacity 400ms;
  will-change: opacity;
  &.fadeout-animation{
    &-enter{
      &-active{
        opacity: 0;
      }
      &-done{
        opacity: 0;
      }
    }
    &-exit{
      &-active{

      }
      &-done{

      }
    }
  }
}