h3.h3-component{
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -.009em;
  line-height: 1.0625;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
