.search-input-component {


  .input-wrapper{

    width: 0;
    overflow: hidden;
    transition: width 400ms cubic-bezier(0.86, 0, 0.07, 1);
    will-change: width;
    &.input-wrapper-animation{
      &-enter{
        &-active{
          width: 300px;
        }
        &-done{
          width: 300px;
        }
      }
      &-exit{
        &-active{

        }
        &-done{

        }
      }
    }

  }



}
