.link-wrapper{

  .link-icon{
    top: 6px;
    position: relative;
    right: 15px;
    transition: right 200ms, opacity 200ms;
    opacity: 0;
  }
  &:hover{
    .link-icon{
      opacity: 1;
      right: 0;
    }
  }
}