.clear-input-component{
  background-color: hsla(0, 0%, 96%, 1);
  border-radius: 7px;
  border: 1px solid transparent;

  .clear-input-component__controls-wrapper{
    display: flex;
    align-items: center;

    input{
      outline: none;
      font-size: 1rem;
      border: none;
      width: calc(100% - 36px);
      background-color: transparent;
      padding-right: 15px;
      margin: 0;
    }

    .clear-input-component__controls-wrapper__button{
      margin: 5px;

      opacity: 0;
      transform: scale(.8);
      transition: opacity 400ms, transform 400ms;
      &.clear-input-component-button-appear-animation{
        &-enter{
          &-active{
            opacity: 1;
            transform: scale(1);
          }
          &-done{
            opacity: 1;
            transform: scale(1);
          }
        }
        &-exite{
          &-active{

          }
          &-done{

          }
        }
      }

    }
  }

}