h2.h2-component{
  font-size: 1.9rem;
  font-weight: bold;
  margin-bottom: .4rem;
  line-height: 1.16667;
  letter-spacing: .009em;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
