.query-disclaimer-component {
  text-align: center;
  color: #6d6d6d;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  transform: scale(.8);
  opacity: 0;
  height: 0;
  transition: opacity 400ms, transform 400ms, height 400ms, padding 400ms;
  will-change: padding, height, transform, opacity;
  &.query-disclaimer-component-appear-animation{
    &-enter {
      &-active {
        opacity: 1;
        padding: 15px;
        height: 25px;
        transform: scale(1);
      }

      &-done {
        opacity: 1;
        padding: 15px;
        height: 25px;
        transform: scale(1);
      }
    }
  }


}