html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

$iconColor:red;
.parker-svg-icons{
  //width:1rem;
  //height:1rem;
  //color: $iconColor;
  //fill: $iconColor;
  //stroke: $iconColor;
  //path{
  //  fill: $iconColor;
  //  stroke: $iconColor;
  //
  //}
}